<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> About us </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Ion Item -->
  <ion-item lines="full">
    <ion-label>
      <h1>H1 Heading</h1>
      <p>Paragraph</p>
    </ion-label>
  </ion-item>

  <ion-item color="success">
    <ion-label>
      Multi-line text that should ellipsis when it is too long to fit on one
      line. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-wrap">
      Multi-line text that should ellipsis when it is too long to fit on one
      line. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </ion-label>
  </ion-item>

  <!-- Media Item -->
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img
        alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
    </ion-avatar>
    <ion-label> Avatar Item </ion-label>
  </ion-item>

  <!-- Ion List -->
  <ion-list lines="full">
    <ion-list-header>
      <ion-label>Video Games</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>

    <ion-item>
      <ion-label>Full Lines</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Full Lines</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Full Lines</ion-label>
    </ion-item>
  </ion-list>

  <!-- Ion Alert -->
  <!-- id and trigger has to match -->
  <ion-button id="confirm-box">Click Me</ion-button>
  <ion-alert
    trigger="confirm-box"
    header="Success"
    subHeader="Important message"
    message="Task Failed Successfully!"
    [buttons]="alertButtons"
  ></ion-alert>

  <!-- controller alerts -->
  <ion-button (click)="presentAlert()">Click Me Again</ion-button>

  <!-- is Open -->
  <ion-button (click)="setOpen(true)">using isOpen properity</ion-button>
  <ion-alert
    [isOpen]="isAlertOpen"
    header="Alert"
    subHeader="Important message"
    message="This is an alert!"
    [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"
  ></ion-alert>

  <!-- Ion Toasts -->
  <!-- id and trigger has to match -->
  <ion-button id="open-toast" expand="block">Open Toast</ion-button>

  <ion-toast
    trigger="open-toast"
    message="This toast will disappear after 3 seconds"
    [duration]="3000"
  ></ion-toast>

  <!-- Controller Toasts -->
  <ion-button expand="block" (click)="presentToast('top')"
    >Present Toast At the Top</ion-button
  >
  <ion-button expand="block" (click)="presentToast('middle')"
    >Present Toast At the Middle</ion-button
  >
  <ion-button expand="block" (click)="presentToast('bottom')"
    >Present Toast At the Bottom</ion-button
  >

  <!-- customize position using the ts method -->
  <ion-button id="open-toast1" expand="block">Open Toast</ion-button>

  <ion-toast
    trigger="open-toast1"
    message="This toast will disappear after 3 seconds"
    position="middle"
    [duration]="3000"
  ></ion-toast>
</ion-content>
