<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block">My expanded buton</ion-button>
  <ion-button expand="block" shape="round">My rounded buton</ion-button>
  <ion-button expand="block" shape="round" size="large"
    >My large buton</ion-button
  >
  <ion-button expand="block" shape="round" color="warning">
    My warning buton</ion-button
  >
  <ion-button>my button</ion-button>
  <ion-button shape="round">my button</ion-button>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" color="danger">
      <ion-icon name="musical-notes"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
