<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Ion buttons -->
  <ion-button expand="block">My expanded buton</ion-button>
  <ion-button expand="block" shape="round">My rounded buton</ion-button>
  <ion-button expand="block" shape="round" size="large"
    >My large buton</ion-button
  >
  <ion-button expand="block" shape="round" color="warning">
    My warning buton</ion-button
  >
  <ion-button>my button</ion-button>
  <ion-button shape="round">my button</ion-button>

  <!-- Ion fab -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" color="danger">
      <ion-icon name="musical-notes"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Ion inputs -->
  <ion-list>
    <ion-item>
      <ion-input
        label="First Name"
        type="text"
        placeholder="Enter your name"
        labelPlacement="fixed"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Last Name"
        type="text"
        placeholder="Enter your name"
        labelPlacement="stacked"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Email"
        type="email"
        placeholder="Enter your email"
        labelPlacement="floating"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Age"
        type="number"
        placeholder="Enter your age"
        labelPlacement="floating"
      ></ion-input>
    </ion-item>

    <ion-item>
      <!-- Ion textarea -->
      <ion-textarea
        label="description"
        placeholder="Type your description here"
        labelPlacement="floating"
      ></ion-textarea>
    </ion-item>

    <!-- Ion single select -->
    <ion-item>
      <ion-select aria-label="fruit" placeholder="Select fruit">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Ion multiple select -->
    <ion-item>
      <ion-select
        aria-label="Fruit"
        placeholder="Select all fruits that apply"
        [multiple]="true"
      >
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Ion checkbox -->
    <ion-item>
      <ion-checkbox>I agree to the terms and conditions</ion-checkbox>
    </ion-item>

    <!-- Ion radio group -->
    <!-- default value is strawberries in this case -->
    <ion-item>
      <ion-radio-group value="strawberries">
        <ion-radio value="grapes">Grapes</ion-radio><br />
        <ion-radio value="strawberries">Strawberries</ion-radio><br />
        <ion-radio value="pineapple">Pineapple</ion-radio><br />
        <ion-radio value="cherries">Cherries</ion-radio>
      </ion-radio-group>
    </ion-item>
  </ion-list>
</ion-content>
