<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Contact Us </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Ion Grid -->
  <ion-grid>
    <ion-row>
      <ion-col><ion-item color="primary">1</ion-item></ion-col>
      <ion-col><ion-item color="success">2</ion-item></ion-col>
      <ion-col><ion-item color="danger">3</ion-item></ion-col>
    </ion-row>
  </ion-grid>
  <!-- Ion Grid column size -->
  <ion-grid>
    <ion-row>
      <ion-col size="2"><ion-item color="primary">1</ion-item></ion-col>
      <ion-col size="7"><ion-item color="success">2</ion-item></ion-col>
      <ion-col size="3"><ion-item color="danger">3</ion-item></ion-col>
    </ion-row>
  </ion-grid>
  <!-- Ion Grid column size for specific size-->
  <!-- in this ex anyting larger than small will take the sizeSm value-->
  <ion-grid>
    <ion-row>
      <ion-col size="2" sizeSm="4"
        ><ion-item color="primary">1</ion-item></ion-col
      >
      <ion-col size="7" sizeSm="4"
        ><ion-item color="success">2</ion-item></ion-col
      >
      <ion-col size="3" sizeSm="12"
        ><ion-item color="danger">3</ion-item></ion-col
      >
    </ion-row>
  </ion-grid>

  <!-- Ion Grid offset -->
  <!-- offset + size = 12 -->
  <ion-grid>
    <ion-row>
      <ion-col size="2" offset="2"
        ><ion-item color="primary">1</ion-item></ion-col
      >
      <ion-col size="3" offset="2"
        ><ion-item color="success">2</ion-item></ion-col
      >
      <ion-col size="3"><ion-item color="danger">3</ion-item></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
